<br>
<h1 style="text-align: center; margin-top: 25px;">Delete Product</h1>

<div class="container" style="align-content: center; max-width: 500px;">
    <form (ngSubmit)='submit()' [formGroup]='showform' novalidate class="form">
        <label for="Title">Title</label>

        <input type="text" formControlName='title' class="form-control" id="Title" placeholder="Enter Title " readonly>
        <div class="alert alert-danger" *ngIf="loginForm?.get('title')?.hasError('required') && loginForm?.get('title')?.touched">
            Title is Required
        </div>
<br>
        <label for="Price">Price</label>

        <input type="number" formControlName='price' class="form-control" id="Price" placeholder="Enter Price " readonly>

        <div class="alert alert-danger" *ngIf="loginForm?.get('price')?.hasError('required') && loginForm?.get('price')?.touched">
            Price is Required
        </div>
<br>
        <label for="Quantity">Quantity</label>

        <input type="number" formControlName='quantity' class="form-control" id="Quantity" placeholder="Enter Quantity " readonly>
        <div class="alert alert-danger" *ngIf="loginForm?.get('quantity')?.hasError('required') && loginForm?.get('quantity')?.touched">
            Quantity is Required
        </div>
<br>
        <label for="Color">Color</label>

        <input type="text" formControlName='color' class="form-control" id="Color" placeholder="Enter Color" readonly>

        <div class="alert alert-danger" *ngIf="loginForm?.get('color')?.hasError('required') && loginForm?.get('color')?.touched">
            Color is Required
        </div>
<br>
        <label for="ExpiryDate">ExpiryDate</label>

        <input type="text" formControlName='expiryDate' class="form-control" id="ExpiryDate" placeholder="Enter ExpiryDate" onclick="(this.type ='date')" onkeyup="(this.type ='date')" readonly>

        <div class="alert alert-danger" *ngIf="loginForm?.get('expiryDate')?.hasError('required') && loginForm?.get('expiryDate')?.touched">
            ExpiryDate is Required
        </div>
<br>
        <label for="inStock">InStock:</label>
        <br>

        <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="inStock" type="radio" [value]="true" readonly>
            <label class="form-check-label" for="inlineRadio1">In Stock</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="inStock" type="radio" [value]="false" readonly>
            <label class="form-check-label" for="inlineRadio1">Out of Stock</label>
        </div>
        <br>
    </form>
<br>
<button type="button" (click)="submit()" class="btn btn-danger" >Confirm Delete!</button>
</div>
