<br>
<h2  style="text-align: center;">List Of product with Subscribe </h2>

<table class="text-center" style="width: 125%; margin-left: 250px; margin-top: 30px;">
    <thead style="align-content: center;">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Expiry Date</th>
            <th>Instock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of myProduct$ | async">
            <td>{{p.id}}</td>
            <td>
                <a style="color:blue;" [routerLink]="['/Product', p.id]">
                    {{p.title}}
                </a>
            </td>
            <td>{{p.price| currency:'INR'}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.color}}</td>
            <td>{{p.expiryDate | date}}</td>
            <td>
              <i class="bi bi-check-circle-fill" *ngIf="p.inStock"></i>
              <i class="bi bi-x-circle" *ngIf="!p.inStock"></i>
          </td>
        </tr>
    </tbody>
</table>